<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Luftdaten Server</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>
