<h3 class="s-title">Temperature</h3>
<div id="chart_temperature" style="width: 900px; height: 500px"></div>

<script type="text/javascript">
  fetch('/data/temperature/?limit=300').then(response => response.json()).then(jsonData => {
    const temperatureData = jsonData.map(entry => {
      const {created_at, temperature} = entry;
      return [createDateFromString(created_at), temperature];
    });

    function drawChart() {
      buildChart('chart_temperature', 'Temperature in the last 12 hours', 'Temperature', {format: '## °C', viewWindow: {max: 50, min: -20}}, temperatureData);
    }

    google.charts.load('current', {packages: ['line', 'corechart']});
    google.charts.setOnLoadCallback(drawChart);
  });
</script>
